body {
  font-family: sans-serif;
}

nav {
  padding: 10px 0;
  text-align: center;
}

nav button a {
  text-decoration: none;
}

#boards {
  line-height: 0;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-bottom: 10px;
}

#game-state {
  padding: 10px;
  background: rgba(250, 250, 180, 0.5);
  display: inline-flex;
  line-height: 1.5;
}

.moves a {
  border: 1px dashed #d0d0d0;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  min-width: 35px;
  text-align: center;
}

.moves a:hover, .moves a:focus {
  background: rgba(250, 250, 180, 0.5);
}

#game-state .move {
  margin-right: 10px;
}

#game-state .move.no-moves b {
  display: none;
}

#game-state .move.no-moves {
  color: #717171;
}

#boards canvas {
  border: 1px solid #000;
}
